// Default icon font path
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '~font-awesome/fonts/';

// Imports
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~font-awesome/scss/font-awesome';

.table-custom {
  .table-custom-thead {
    .table-custom-thead-col {
      &.sortable {
        &:hover {
          background: #A7FAE8;
          cursor: pointer;
        }
      }
    }
  }
}
